{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
{% with object_list|random as object %}
    <nav>
        {% if object.prev %}<a href="{{ object.prev.get_absolute_url }}" class="prev">&larr;</a>{% endif %}
        {% if object.next %}<a href="{{ object.next.get_absolute_url }}" class="next">&rarr;</a>{% endif %}
    </nav>
    <header>
        <blockquote>
            <h1>{{ object.quote|safe }}</h1>
            <cite>{{ object.chapter.get_book_display }}, Chapter {{ object.chapter.chapter }}, Verse {{ object.verse }}</cite>
        </blockquote>
        <h2><a href="/">Jesus said <em>it</em></a></h2>
        <nav><p>The red bits (the bits Jesus said)</p></nav>
    </header>
{% endwith %}

<article>
    <h1>Read one of the {{ object_list|length }} verses, and comment with your reactions and thoughts.</h1>
        {% for x in object_list %}
        {% ifchanged x.chapter.book %}<h2>{{ x.chapter.get_book_display }}</h2>{% endifchanged %}
        {% ifchanged x.chapter %}<strong>Chapter {{ x.chapter.chapter }}</strong> {% endifchanged %}
            <a href="{{ x.get_absolute_url }}">{{ x.verse }}</a>
        {% endfor %}
    </ul>
</article>

{% endblock %}
