{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Jesus said it - really!{% endblock %}</title>
    <meta name="description" content="a collection of things Jesus actually said, and thoughts on what he meant">
    <meta name="author" content="Jesus">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Libre+Baskerville&subset=all' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico">
    <!--[if lt IE 9]><script src="{% static 'js/modernizr.js' %}"></script><![endif]-->
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
